header {
    text-align: center;
    background: url('https://i.imgur.com/4zeFfqd.jpg');
    background-size: cover;
    color: Tomato;
  }
  h1 {
    font-size: 70px;
    color: black;
  }
  h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:firebrick;
  }
  h3 {
    color:black;
  }
  img {
    margin: 40px 0px 0px 0px;
    border: 7px solid black;
    border-radius: 50%;
  }
  article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
  }
a {
  font-family: Arial, sans-serif;
  font-size: 20px;
}
footer {
  text-align: center;
  background-color:white;
  color:firebrick;

}

a:link    { color: blue;  }
a:visited { color: red;   }
a:hover   { color: green; }
a:active  { color: pink;  }

hr {
  width: 15px;
  height: 15px;
  border: none;
  background: #000;
  color: #000;
  margin-top: 30px;
  margin-bottom: 20px;
  transform: rotate(45deg);
}
